{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <title>Hello, you</title>
</head>
<body>
    <div class="hello-form">
        {% if user.is_authenticated %}
        <h1>Hello, {{ user }}!</h1>
        <p>Have a nice day. <br><br>You have visited this page {{ num_visits }} time(s).</p>
        <a href="{% url 'loginhello:logout' %}">
            <input type="button" value="Logout" class="logbtn" id="logout_button">
        </a>
        {% else %}
        <h2>You are not logged in. <br> Please login first.</h2>
        <a href="{% url 'loginhello:login' %}">
            <input type="button" value="Login" class="logbtn" id="relogin">
        </a>
        {% endif %}
    </div>
</body>
</html>