{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    
	<link rel="stylesheet" href="{% static 'style2.css' %}">
    <title>Login Page</title>
</head>
<body>
    <form action="{% url 'loginhello:login' %}" method="POST" class="login-form">
        {% csrf_token %}
        
        <h1>Login</h1>
        
        <div class="txtb">
            {{ form.username }}
            <span data-placeholder="Username"></span>
        </div>

        <div class="txtb">
            {{ form.password }}
            <span data-placeholder="Password"></span>
        </div>

        <button type="submit" id="login_button" class="logbtn">Login</button>
    </form>

    <script type="text/javascript">
        $(".txtb input").on("focus", function(){
            $(this).addClass("focus");
        });

        $(".txtb input").on("blur", function(){
            if($(this).val() == "")
            $(this).removeClass("focus");
        });
    </script>

</body>
</html>