{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>toko buku</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    
    <h1 class="heading">my bookstore</h1>
    <div class="searchbox">
        <input id="search_box" type="text">
        <input type="submit" value="Cari buku.." id="search_button">
    </div>

    <table id="results" class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Book Cover</th>
                <th scope="col">Details</th>
                <th scope="col">Author(s)</th>
            </tr>
        </thead>
    </table>

</body>
</html>