*{  
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.login-form{
    width: 360px;
    background: #f1f1f1;
    height: 460px;
    padding: 60px 35px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-form h1{
    text-align: center;
    margin-bottom: 60px;
}

.hello-form{
    width: 360px;
    background: #f1f1f1;
    height: 400px;
    padding: 60px 35px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hello-form h1, h2, p{
    text-align: center;
    margin-bottom: 40px;
}


.txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}

.txtb input{
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.txtb span::before{
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    z-index: -1;
    transition: .5s;
}

.focus + span::before{
    top: -5px;
    font-size: smaller;
}


.logbtn{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: #adadad;
    background-size: 100%;
    color: #fff;
    outline: none;
    cursor: pointer;
  }

.logbtn:hover{
    background: linear-gradient(120deg,#3498db,#8e44ad);
}